.save-button {
  margin: 12px;
  padding: 8px 12px;
  width: 100px;
  background-color: #fff;
  border: 2px solid blue;
}

.cancel-button {
  margin: 12px;
  padding: 8px 12px;
  width: 100px;
  background-color: #fff;
  border: 2px solid blue;
}